<ion-header [translucent]="true" class="default-head">
  <ion-toolbar class="position-relative ">
    <!-- <img class="position-absolute top-50 start-50 translate-middle logo-img" src="assets/icon/rack-logo-6.svg" alt="RACK"> -->
    <!-- height of toolbar isnt working with img size. its fine, we dont need the logo here anyway -->
    <ion-buttons slot="start">
      <ion-button (click)="back()" >Later</ion-button>
    </ion-buttons>

    <ion-title>New Rack Item</ion-title>
    
      
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <br>
  <br>
  <ion-text>
    <h2 class="title-theme">Getting Organized!</h2>
  </ion-text>
  <br>
  <div>
    <form [formGroup]="rackForm">
      <ion-list [inset]="true">
        <ion-item [hidden]="true">
          <ion-label>User_id</ion-label>
          <ion-input placeholder="" formControlName="User_id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Title</ion-label>
          <ion-input placeholder="" formControlName="Title" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Description</ion-label>
          <ion-input placeholder="" formControlName="Description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="partly-sunny-outline"></ion-icon>Season</ion-label>
          <ion-select interface="popover" placeholder="" [multiple]="false" formControlName="Season" required>
            <ion-select-option value="spring">Spring</ion-select-option>
            <ion-select-option value="summer">Summer</ion-select-option>
            <ion-select-option value="fall">Fall</ion-select-option>
            <ion-select-option value="winter">Winter</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="shirt-outline"></ion-icon>Type</ion-label>
          <ion-select interface="popover" placeholder="" [multiple]="false" formControlName="Type" required>
            <ion-select-option value="top">Top</ion-select-option>
            <ion-select-option value="bottom">Bottom</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="color-palette-outline"></ion-icon>Color - Coming Soon!</ion-label>
          <ion-input disabled placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="sparkles-outline"></ion-icon>Style - Coming Soon!</ion-label>
          <ion-input disabled placeholder=""></ion-input>
        </ion-item>
      </ion-list>
      
      <ion-chip (click)="filePicker.click()">
        <ion-icon name="image-outline" color="primary"></ion-icon>
        <ion-label>Upload Image</ion-label>
         <input id="selectFile" #filePicker type="file" (change)="selectFile($event)" accept="image/x-png,image/gif,image/jpeg,image/webp"/>
      </ion-chip>
      <br>
      <ion-text color="medium"><small >*Currently supports single image upload only</small></ion-text> 

      <ion-grid *ngIf="img1">
        <ion-row>
          <ion-col>
            <ion-img alt="" [src]="img1" width="40%"></ion-img> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <ion-text *ngIf="selectedImage">{{selectedImage.name}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon type="button" name="close-circle-outline" size="large" color="primary" (click)="remove()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <br>
      <br>
      <ion-button expand="block" (click)="addRack()">Add to Rack!</ion-button>
    </form>
  </div>
  <br>
  <br>
  <ion-text>Don't sweat! Edit your Rack anytime!</ion-text>
</ion-content>