// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables (ALTERED)**/
:root {
	--ion-color-primary: #FF5757;
	--ion-color-primary-rgb: 255,87,87;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #e04d4d;
	--ion-color-primary-tint: #ff6868;

	--ion-color-secondary: #44313e;
	--ion-color-secondary-rgb: 68,49,62;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #3c2b37;
	--ion-color-secondary-tint: #574651;

	--ion-color-tertiary: #FFE1E1;
	--ion-color-tertiary-rgb: 255,225,225;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #e0c6c6;
	--ion-color-tertiary-tint: #ffe4e4;

	--ion-color-success: #5acf84;
	--ion-color-success-rgb: 90,207,132;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #4fb674;
	--ion-color-success-tint: #6bd490;

	--ion-color-warning: #f9a800;
	--ion-color-warning-rgb: 249,168,0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #db9400;
	--ion-color-warning-tint: #fab11a;

	--ion-color-danger: #ea0000;
	--ion-color-danger-rgb: 234,0,0;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ce0000;
	--ion-color-danger-tint: #ec1a1a;

	--ion-color-medium: #9e8f92;
	--ion-color-medium-rgb: 158,143,146;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #8b7e80;
	--ion-color-medium-tint: #a89a9d;

	--ion-color-light: #fbf7f7;
	--ion-color-light-rgb: 251,247,247;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #ddd9d9;
	--ion-color-light-tint: #fbf8f8;

}


@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #FF5757;
	--ion-color-primary-rgb: 255,87,87;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #e04d4d;
	--ion-color-primary-tint: #ff6868;

	--ion-color-secondary: #FFE1E1;
	--ion-color-secondary-rgb: 255,225,225;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #e0c6c6;
	--ion-color-secondary-tint: #ffe4e4;

	--ion-color-tertiary: #44313e;
	--ion-color-tertiary-rgb: 68,49,62;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #3c2b37;
	--ion-color-tertiary-tint: #574651;

	--ion-color-success: #5acf84;
	--ion-color-success-rgb: 90,207,132;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #4fb674;
	--ion-color-success-tint: #6bd490;

	--ion-color-warning: #f9a800;
	--ion-color-warning-rgb: 249,168,0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #db9400;
	--ion-color-warning-tint: #fab11a;

	--ion-color-danger: #ea0000;
	--ion-color-danger-rgb: 234,0,0;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ce0000;
	--ion-color-danger-tint: #ec1a1a;

	--ion-color-medium: #9e8f92;
	--ion-color-medium-rgb: 158,143,146;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #8b7e80;
	--ion-color-medium-tint: #a89a9d;

	--ion-color-light: #fbf7f7;
	--ion-color-light-rgb: 251,247,247;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #ddd9d9;
	--ion-color-light-tint: #fbf8f8;

}

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
