<div *ngIf="defaultView">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="back()">Back</ion-button>
      </ion-buttons>
      <ion-title>Item Details</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="edit()">Edit</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

<div *ngIf="editView">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
      </ion-buttons>
      <ion-title>Edit Item</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="presentAlert()">Delete</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>


<ion-content class="ion-padding">

  <div *ngIf="defaultView">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="my-1 py-1">
          {{item.Title}}
        </ion-card-title>
        <ion-card-subtitle>
          #{{item.Season}} #{{item.Item_type}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card *ngIf="item.Image" class="my-2">
        <img [src]="bUrl + item.Image" alt="">
      </ion-card>
      <ion-card-content class="my-3">
        {{item.Description}}
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="editView">

    <ion-card>
      <form [formGroup]="itemForm">
        <div *ngIf="!img1">
        <ion-card *ngIf="item.Image">
          <img [src]="bUrl + item.Image" alt="">
        </ion-card>
        </div>

        <div *ngIf="img1">
          <ion-card>
            <img alt="" [src]="img1">
          </ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-text *ngIf="selectedImage">{{selectedImage.name}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-icon type="button" name="close-circle-outline" size="large" color="primary"
                  (click)="remove()"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <ion-chip (click)="filePicker.click()">
          <ion-icon name="image-outline" color="primary"></ion-icon>
          <ion-label>Add/Replace Image</ion-label>
          <input id="selectFile" #filePicker type="file" (change)="selectFile($event)"
            accept="image/x-png,image/gif,image/jpeg,image/webp" />
        </ion-chip>
        <ion-card>
          <ion-item>
            <ion-label position="stacked">Title</ion-label>
            <ion-input formControlName="Title"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label><ion-icon name="partly-sunny-outline"></ion-icon>Season</ion-label>
            <ion-select interface="popover" formControlName="Season">
              <ion-select-option value="Spring">Spring</ion-select-option>
              <ion-select-option value="Summer">Summer</ion-select-option>
              <ion-select-option value="Fall">Fall</ion-select-option>
              <ion-select-option value="Winter">Winter</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label><ion-icon name="shirt-outline"></ion-icon>Type</ion-label>
            <ion-select interface="popover" formControlName="Item_type">
              <ion-select-option value="Top">Top</ion-select-option>
              <ion-select-option value="Bottom">Bottom</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea [autoGrow]="true" formControlName="Description">
            </ion-textarea>
          </ion-item>
        </ion-card>
      </form>
      <ion-card-content>
        <ion-button expand="block" (click)="save()">Save Updates!</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>