<app-default-head></app-default-head>

<ion-content [fullscreen]="true" id="main-content">
  <br>
  <br>
  <h2 class="greeting title-theme color-main" *ngFor="let user of userDetails">{{greeting}}, {{ user.FirstName }}!</h2>
  <h5 class="quote">"Another day, another outfit!"</h5>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card *ngIf="currentWeather" (click)="forecast()" type="button">
          <ion-card-header *ngFor="let weather of currentWeather.weather ">
            <ion-card-subtitle> {{ currentWeather.name }} <ion-icon name="navigate"></ion-icon></ion-card-subtitle>
            <ion-card-title color="primary" class="py-0">{{ currentWeather.main.temp | number : '1.0-0'}} <span
                class="mx-0 px-0">&#176;</span> </ion-card-title>
            <img class="icon-sm" [src]="iconUrl + weather.icon + iconSUrl">
            <ion-card-subtitle><ion-text>{{weather.description}}</ion-text></ion-card-subtitle>
            <ion-text class="fs-small"> Feels like <ion-text color="primary">{{currentWeather.main.feels_like | number :
                '1.0-0'}} <span class="mx-0 px-0">&#176;</span></ion-text></ion-text>
          </ion-card-header>
        </ion-card>

        <ion-card *ngIf="!currentWeather">
          <ion-card-header>
            <ion-card-subtitle>Weather</ion-card-subtitle>
            <div class="p-3">
              <ion-icon name="partly-sunny-outline" color="primary" class="icon-lg"></ion-icon>
            </div>
            <ion-text class="fs-xs">Select your Location</ion-text>
          </ion-card-header>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card (click)="stats()" type="button">
          <ion-card-header>
            <div class="p-4">
              <ion-icon name="bar-chart-outline" color="primary" class="icon-lg"></ion-icon>
            </div>
            <ion-card-subtitle>Rack Stats</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col></ion-col>
      <ion-col size="6">
        <br>
          <ion-card (click)="stats()">
            <ion-card-header>
              <ion-button fill="clear" size="large">
              <ion-icon name="bar-chart-outline" size="large"></ion-icon>
            </ion-button><br>
            <ion-label>Rack Stats</ion-label>
            </ion-card-header>
          </ion-card>

      </ion-col>
      <ion-col></ion-col>
    </ion-row> -->
    <br>


    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div class="py-4">
              <ion-button fill="clear" disabled>
                <ion-icon name="rocket-outline" class="icon-lg"></ion-icon>
              </ion-button><br>
            </div>
            <ion-card-subtitle>Discover*</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <div class="py-4">
              <ion-button fill="clear" disabled>
                <ion-icon name="heart-outline" class="icon-lg"></ion-icon>
              </ion-button><br>
            </div>
            <ion-card-subtitle>Wish Rack*</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-text class="py-0 my-0" color="medium"><small>*Coming Soon!</small></ion-text>
  </ion-grid>

</ion-content>