<ion-content>
  <br>
  <br>
  <br>
  <div class="container"><p class="line-1 strikethrough">What's in your closet?</p></div><br>
  <br>
  <p class="typed2">Whats on your...</p>
  <img src="assets/icon/rack-logo-1.svg" alt="" class="mx-auto d-block">
  <br>
  <br>
  <br>
  <ion-button (click)="loginModal()">Log In</ion-button><br>
  <ion-button fill="clear" (click)="signupModal()">Sign Up</ion-button>
  <br>
  <br>
  <br>
       
  <br>
  <br>
  <br>
  <br>

  <ion-text>Powered by Paula Anderson</ion-text>
</ion-content>