<!-- <ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" id="main-content" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>     </ion-col>
      <ion-col>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row><h4>"FirstName LastName"</h4></ion-row>
    <ion-row>Bio 300 char</ion-row>
  </ion-grid>

  
  <!-- we need an edit profile button, figure out what to do with the toolbar, not sure about the layout -->
  
</ion-content>
