<ion-menu type="overlay" side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-menu-toggle><ion-icon *ngIf="!accountSettings" name="backspace-outline" type="button" color="primary"
          size="large"></ion-icon></ion-menu-toggle>
      <ion-icon *ngIf="accountSettings" name="chevron-back-outline" type="button" (click)="back()" slot="start"
        size="large" color="primary"></ion-icon>
      <ion-title *ngIf="!accountSettings">Settings</ion-title>
      <ion-title *ngIf="accountSettings">Account</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-accordion-group *ngIf="!accountSettings">
      <ion-item (click)="openAS()" lines="none" type="button">Account
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
      </ion-item>
      <ion-accordion value="first" toggleIcon="chevron-forward">
        <ion-item slot="header">
          <ion-label>Display</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list>
            <ion-radio-group value="light" (ionChange)="onClick($event)">
              <ion-item>
                <ion-icon slot="start" name="sunny-outline"></ion-icon>
                <ion-label>Light mode</ion-label>
                <ion-radio slot="end" value="light"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-icon slot="start" name="moon-outline"></ion-icon>
                <ion-label>Dark mode</ion-label>
                <ion-radio slot="end" value="dark"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-icon slot="start" name="settings-outline"></ion-icon>
                <ion-label>System</ion-label>
                <ion-radio slot="end" value="system"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>


        </div>
      </ion-accordion>
      <ion-item [disabled]="true" lines="none">Language & Region
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item [disabled]="true" lines="none">Share Feedback
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-button fill="clear" (click)="logout()"><ion-icon name="exit-outline"></ion-icon> Logout</ion-button>
    </ion-accordion-group>


    <ion-accordion-group *ngIf="accountSettings">
      <ion-accordion value="first" toggleIcon="chevron-forward-outline">
        <ion-item slot="header" lines="none">
          <ion-label>User</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div *ngIf="!edit">
            <ion-avatar class="mx-auto d-block">
              <img *ngIf="currentUser.Image" [src]="bUrl + currentUser.Image">
              <img src="assets/icon/person-circle-outline.svg"/>
            </ion-avatar>
            <ion-list *ngFor="let user of userDetails">
              <ion-item>
                <ion-label>First Name</ion-label>
              <ion-text>{{user.FirstName}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label>Last Name</ion-label>
                <ion-text>{{user.LastName}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label>Birthday</ion-label>
                <ion-text>{{user.Birthday}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label>Gender</ion-label>
                <ion-text>{{user.Gender}}</ion-text>
              </ion-item>
            </ion-list>
            <ion-button fill="clear" (click)="editDetails()">Edit Details</ion-button>
          </div>

          <div *ngIf="edit">
            <form [formGroup]="detailsForm">
            <ion-list>
              <ion-avatar class="mx-auto d-block" *ngFor="let user of userDetails">
                <img *ngIf="!user.Image && !img1" src="assets/icon/person-circle-outline.svg" />
                <img *ngIf="user.Image && !img1" [src]="bUrl + user.Image">
                <img *ngIf="img1" [src]="img1"/>
              </ion-avatar>

              <ion-chip (click)="filePicker.click()">
                <ion-icon name="image-outline" color="primary"></ion-icon>
                <ion-label>Change Picture</ion-label>
                <input id="selectFile" #filePicker type="file" (change)="selectFile($event)"
                  accept="image/x-png,image/gif,image/jpeg,image/webp" />
              </ion-chip>
              <br>
              <ion-item>
                <ion-label>First Name</ion-label>
                <ion-input type="text" formControlName="FirstName" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Last Name</ion-label>
                <ion-input type="text" formControlName="LastName"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Birthday</ion-label>
                <ion-input type="date" formControlName="Birthday" required>
                  <!-- <ion-datetime-button datetime="datetime"></ion-datetime-button> -->
                </ion-input>
                

                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime id="datetime" presentation="date" [preferWheel]="true"></ion-datetime>
                  </ng-template>
                </ion-modal>

              </ion-item>
              <ion-item>
                <ion-label>Gender</ion-label>
                <ion-select interface="popover" placeholder="Select" formControlName="Gender">
                  <ion-select-option value="Female">Female</ion-select-option>
                  <ion-select-option value="Male">Male</ion-select-option>
                  <ion-select-option value="Non-Binary">Non-Binary</ion-select-option>
                  <ion-select-option value="Unselected">Unselected</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-button fill="clear" (click)="submitEdit()">Save Changes</ion-button>
          </form>
          </div>
        </div>

      </ion-accordion>
      <ion-accordion value="second" toggleIcon="chevron-forward-outline">
        <ion-item slot="header">
          <ion-label>Security</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list>
            <ion-item type="button">
              <ion-icon slot="start" name="mail-outline" color="primary"></ion-icon>
              <ion-text color="primary">Change Email</ion-text>
            </ion-item>
            <ion-item type="button">
              <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
              <ion-text color="primary">Update Password</ion-text>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-menu>

<div>
  <ion-header [translucent]="true">
    <ion-toolbar class="position-relative ">
      <div class="logo-div">
        <ion-img class="mx-auto d-block logo-img" src="assets/icon/rack-logo-6.svg" alt="RACK"></ion-img>
      </div>
      <ion-icon class="ion-padding" type="button" slot="start" name="bag-add-outline" (click)="quickRack()"
        color="primary" size="large"></ion-icon>

        <ion-buttons slot="end" *ngFor="let user of userDetails">
            <ion-icon *ngIf="!user.Image" name="person-circle-outline" size="large" color="primary"></ion-icon>
            <ion-avatar *ngIf="user.Image" class="tool-avatar"> <ion-img [src]="bUrl + user.Image"></ion-img> </ion-avatar>
          <ion-menu-toggle autoHide="false">
            <ion-button fill="clear">
              <ion-icon name="ellipsis-vertical" type="button" color="primary"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
      <!-- <ion-buttons slot="end" *ngFor="let user of userDetails">
        <ion-item lines="none" color="none">
          <ion-icon *ngIf="!user.Image" name="person-circle-outline" size="large" color="primary"></ion-icon>
          <ion-avatar *ngIf="user.Image" size="small"> <img [src]="bUrl + user.Image"/> </ion-avatar>
        </ion-item>
        <ion-menu-toggle autoHide="false">
          <ion-button fill="clear">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons> -->


    </ion-toolbar>
  </ion-header>
</div>