
.logo-img{
    height:auto;
    width:27vw;
}


input[type="file"]{
    visibility: hidden;
    width: 0;
    height: 0;

}

.tool-avatar{
    height: 34px;
    width: 34px;
}

.add-photo-icon{
    height: 20px;
    width: 20px;
}


.avatar-details {
    height: 60px;
    width: 60px;
}

.input-fs{
    font-size: 16px;
}
